.slider-value{

  color: var(--color-error);
  
  font-size: 7.5rem;
  
  
}

.slider-size{

  height: 22rem !important;
  width: 19rem !important;
}

.button-test{

  background-color: var(--color-primary);

  height: 2rem !important;
  width: 19rem !important;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}