#page-dashboard{
  background: var(--color-black);
  height:100vh;
  position: relative;
  overflow-x: hidden;

  .sidebar{
    display: none;
  }

  .side-menu{
    position: absolute;
    z-index: 10;
    left:0;
    top: 0;
    background: var(--color-secondary);
    width: 255px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 70px;

    button{
      height: 56px;
      width: 255px;
      padding: 0 2.5rem;
      background: var(--color-secondary);
      filter: brightness(1.4);

      outline: none;
      border: none;
      border-left: 2px solid var(--color-white);
      color: var(--color-white);

      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;

      display: flex;
      align-items: center;
      gap: 20px;
      
    }
  }

  header{
    height: 3.438rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem;
    position:relative;
    color: var(--color-white);


    h2{
      display:none;
    }

    >button{
      background:transparent;
      outline:none;
      border:none;
    }

    .profile{
      display:flex;
      align-items: center;
      gap: 0.938rem;

      font-size: 0.75rem;

      >div{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid var(--color-white);

        display: flex;
        align-items: center;
        justify-content: center;



        >img{
          width: 2.375rem;
          border-radius: 50%;
        }
      }
    }
  }

  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

    .user{
      display: none;
      color: var(--color-white);
    }

    .box{
      width: 100%;
      width: 20.938rem;
      min-width: 20.938rem;
      height: 100%;
      height:19.438rem;
    }

    .banner{
      display: none;
    }

  }
  
  
}

@media only screen and (min-width: 900px) {
  #page-dashboard{
    header{
      margin-left:15.938rem;
      padding: 0 2rem;
      width: calc(100vw - 15.938rem);
      display: flex;
      align-items: center;

      h2{
        display: block;
      }
    }

    header button, .side-menu {
      display: none;
    }

  .sidebar{
    position:absolute;
    width: 15.938rem;
    height:100vh;
    left:0;
    top: 0;
    background: var(--color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 70px;

    >img{
      width: 9.5rem;
      height: 1rem;
    }

    button{
      height: 3.5rem;
      width: 100%;
      padding: 0 2rem;
      background: var(--color-secondary);
      filter: brightness(1.4);

      outline: none;
      border: none;
      border-left: 2px solid var(--color-white);
      color:var(--color-white);

      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;

      display: flex;
      align-items: center;
      gap: 2rem;
      
    }
  }
  
  main {
    height: calc(100vh - 3.438rem);
    width: calc(100vw - 15.938rem);
    margin-left:15.938rem ;
    display: grid;
    grid-template-areas:
     "USER USER"
     "SLIDER CHART"
     "BANNER BANNER";
 
    // grid-template-columns: 2fr 4.6fr;
    grid-template-rows: 2fr 5fr 4fr;
    gap: 2rem;
    padding: 0 2rem 2rem;

    .user{
      display: flex;
      flex-direction: column;
      grid-area: USER;
      width: 100%;
      height: 100%;
      justify-content:center;
      
    }

    .box{
      width: 100%;
      height: 100%;
    }
    .slider-component{
      grid-area: SLIDER;

    }

    .chart{
      grid-area: CHART;
    }

    .banner{
      height: 100%;
      display: block;
      grid-area: BANNER;
    }
  } 
 }
}